工作流/Generate Videos via Juxin API.json
{
  "name": "Generate Videos via Juxin API",
  "nodes": [
    {
      "parameters": {
        "formTitle": "🎬 AI Video Generator - Juxin API",
        "formDescription": "从文本或图片生成视频（聚鑫 API）。请选择横竖屏与画质，可选上传首帧图片。",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Video Description (Prompt)",
              "fieldType": "textarea",
              "placeholder": "示例：黄金时刻海边航拍，电影感4K，慢速推镜",
              "requiredField": true
            },
            {
              "fieldLabel": "Aspect Ratio",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "landscape" },
                  { "option": "portrait" }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Video Quality",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "standard" },
                  { "option": "hd" }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Upload Starting Image (Optional)",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".jpg, .jpeg, .png, .webp"
            }
          ]
        },
        "options": { "appendAttribution": false }
      },
      "id": "form_1",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [976, 848],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict" },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond_no_image",
                    "operator": { "type": "object", "operation": "notExists", "singleValue": true },
                    "leftValue": "={{ $binary.Upload_Starting_Image__Optional_ }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "No Image - Text to Video"
            },
            {
              "conditions": {
                "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict" },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond_has_image",
                    "operator": { "type": "object", "operation": "exists", "singleValue": true },
                    "leftValue": "={{ $binary.Upload_Starting_Image__Optional_ }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Has Image - Upload First"
            }
          ]
        },
        "options": {}
      },
      "id": "switch_1",
      "name": "Check: Has Image?",
      "type": "n8n-nodes-base.switch",
      "position": [1568, 848],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "sendQuery": true,
        "queryParameters": { "parameters": [ { "name": "key", "value": "YOUR_ImgBB_API_KEY" }, { "name": "expiration", "value": "0" } ] },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": { "parameters": [ { "parameterType": "formBinaryData", "name": "image", "inputDataFieldName": "Upload_Starting_Image__Optional_" } ] },
        "options": {}
      },
      "id": "upload_imgbb",
      "name": "Upload to ImgBB",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1808, 1408],
      "typeVersion": 4.3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.jxincm.cn/v1/video/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer <REDACTED>" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"images\": [],\n  \"model\": \"sora-2\",\n  \"orientation\": \"portrait\",\n  \"prompt\": \"make animate\",\n  \"size\": \"large\",\n  \"duration\": 15,\n  \"watermark\": false,\n  \"private\": true\n}",
        "options": {}
      },
      "id": "text_to_video",
      "name": "TEXT TO VIDEO (Juxin)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1888, 384],
      "typeVersion": 4.3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://juxinapi.example.com/sora/create-with-image",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sora-2\",\n  \"input\": {\n    \"prompt\": \"{{ $('Check: Has Image?').item.json['Video Description (Prompt)'] }}\",\n    \"image_urls\": [ \"{{ $json.data.url }}\" ],\n    \"aspect_ratio\": \"{{ $('Check: Has Image?').item.json['Aspect Ratio'] }}\",\n    \"quality\": \"{{ $('Check: Has Image?').item.json['Video Quality'] }}\"\n  }\n}",
        "options": {}
      },
      "id": "image_to_video",
      "name": "IMAGE TO VIDEO (Juxin)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2096, 1408],
      "typeVersion": 4.3
    },
    {
      "parameters": { "amount": 30 },
      "id": "wait_text",
      "name": "Wait (Text)",
      "type": "n8n-nodes-base.wait",
      "position": [2304, 384],
      "typeVersion": 1.1
    },
    {
      "parameters": { "amount": 30 },
      "id": "wait_image",
      "name": "Wait (Image)",
      "type": "n8n-nodes-base.wait",
      "position": [2368, 1408],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "=https://juxinapi.example.com/sora/query?taskId={{ $json.data.taskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "check_text",
      "name": "Check Status (Text)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2528, 384],
      "typeVersion": 4.3
    },
    {
      "parameters": {
        "url": "=https://juxinapi.example.com/sora/query?taskId={{ $json.data.taskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "check_image",
      "name": "Check Status (Image)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2592, 1408],
      "typeVersion": 4.3
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            { "id": "ready_text_flag", "operator": { "type": "boolean", "operation": "equals" }, "leftValue": "={{ $json.ready_flag }}", "rightValue": true },
            { "id": "ready_text_url", "operator": { "type": "string", "operation": "isNotEmpty", "singleValue": true }, "leftValue": "={{ $json.video_url_clean }}", "rightValue": "" }
          ]
        },
        "options": {}
      },
      "id": "if_ready_text",
      "name": "Is Ready? (Text)",
      "type": "n8n-nodes-base.if",
      "position": [2736, 384],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            { "id": "ready_image_flag", "operator": { "type": "boolean", "operation": "equals" }, "leftValue": "={{ $json.ready_flag }}", "rightValue": true },
            { "id": "ready_image_url", "operator": { "type": "string", "operation": "isNotEmpty", "singleValue": true }, "leftValue": "={{ $json.video_url_clean }}", "rightValue": "" }
          ]
        },
        "options": {}
      },
      "id": "if_ready_image",
      "name": "Is Ready? (Image)",
      "type": "n8n-nodes-base.if",
      "position": [2800, 1408],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "boolean": [
            {
              "name": "ready_flag",
              "value": "={{ (($json.status === 'SUCCESS') || ($json.data && ($json.data.status === 'completed' || $json.data.state === 'success'))) }}"
            }
          ],
          "string": [
            {
              "name": "video_url_clean",
              "value": "={{ ( () => { try { let v = ($json.data && ($json.data.video_url || $json.data.url)) || $json.video_url || ''; if (!v && $json.data && $json.data.resultJson) { const obj = (typeof $json.data.resultJson === 'string') ? JSON.parse($json.data.resultJson) : $json.data.resultJson; v = (obj && obj.resultUrls && obj.resultUrls[0]) || (obj && (obj.video_url || obj.url)) || ''; } return v ? String(v).replace(/[`\"']/g,'').trim() : ''; } )() }}"
            }
          ]
        }
      },
      "id": "normalize_text",
      "name": "Normalize (Text)",
      "type": "n8n-nodes-base.set",
      "position": [2650, 384],
      "typeVersion": 2
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "boolean": [
            {
              "name": "ready_flag",
              "value": "={{ (($json.status === 'SUCCESS') || ($json.data && ($json.data.status === 'completed' || $json.data.state === 'success'))) }}"
            }
          ],
          "string": [
            {
              "name": "video_url_clean",
              "value": "={{ ( () => { try { let v = ($json.data && ($json.data.video_url || $json.data.url)) || $json.video_url || ''; if (!v && $json.data && $json.data.resultJson) { const obj = (typeof $json.data.resultJson === 'string') ? JSON.parse($json.data.resultJson) : $json.data.resultJson; v = (obj && obj.resultUrls && obj.resultUrls[0]) || (obj && (obj.video_url || obj.url)) || ''; } return v ? String(v).replace(/[`\"']/g,'').trim() : ''; } )() }}"
            }
          ]
        }
      },
      "id": "normalize_image",
      "name": "Normalize (Image)",
      "type": "n8n-nodes-base.set",
      "position": [2720, 1408],
      "typeVersion": 2
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "video_url",
              "value": "={{ $json.video_url_clean }}"
            }
          ]
        }
      },
      "id": "set_url_text",
      "name": "Return Video URL (Text)",
      "type": "n8n-nodes-base.set",
      "position": [3056, 368],
      "typeVersion": 2
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "video_url",
              "value": "={{ $json.video_url_clean }}"
            }
          ]
        }
      },
      "id": "set_url_image",
      "name": "Return Video URL (Image)",
      "type": "n8n-nodes-base.set",
      "position": [3072, 1392],
      "typeVersion": 2
    }
  ],
  "connections": {
    "On form submission": { "main": [ [ { "node": "Check: Has Image?", "type": "main", "index": 0 } ] ] },
    "Check: Has Image?": {
      "main": [
        [ { "node": "TEXT TO VIDEO (Juxin)", "type": "main", "index": 0 } ],
        [ { "node": "Upload to ImgBB", "type": "main", "index": 0 } ]
      ]
    },
    "TEXT TO VIDEO (Juxin)": { "main": [ [ { "node": "Wait (Text)", "type": "main", "index": 0 } ] ] },
    "Upload to ImgBB": { "main": [ [ { "node": "IMAGE TO VIDEO (Juxin)", "type": "main", "index": 0 } ] ] },
    "IMAGE TO VIDEO (Juxin)": { "main": [ [ { "node": "Wait (Image)", "type": "main", "index": 0 } ] ] },
    "Wait (Text)": { "main": [ [ { "node": "Check Status (Text)", "type": "main", "index": 0 } ] ] },
    "Wait (Image)": { "main": [ [ { "node": "Check Status (Image)", "type": "main", "index": 0 } ] ] },
    "Check Status (Text)": { "main": [ [ { "node": "Normalize (Text)", "type": "main", "index": 0 } ] ] },
    "Check Status (Image)": { "main": [ [ { "node": "Normalize (Image)", "type": "main", "index": 0 } ] ] },
    "Normalize (Text)": { "main": [ [ { "node": "Is Ready? (Text)", "type": "main", "index": 0 } ] ] },
    "Normalize (Image)": { "main": [ [ { "node": "Is Ready? (Image)", "type": "main", "index": 0 } ] ] },
    "Is Ready? (Text)": { "main": [ [ { "node": "Return Video URL (Text)", "type": "main", "index": 0 } ], [ { "node": "Wait (Text)", "type": "main", "index": 0 } ] ] },
    "Is Ready? (Image)": { "main": [ [ { "node": "Return Video URL (Image)", "type": "main", "index": 0 } ], [ { "node": "Wait (Image)", "type": "main", "index": 0 } ] ] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}